<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.letech.study.repository.AttachRepository">
	<select id="selectAttachList" resultType="AttachDTO">
		SELECT A.UUID		   AS uuid
			  ,A.UPLOAD_PATH AS uploadPath
			  ,A.FILE_NM     AS fileNm
			  ,A.FILE_TYPE   AS fileType
			  ,A.USE_YN      AS useYn
			  ,A.FILE_SIZE   AS fileSize
		  FROM ATTACH A
		       JOIN BOARD_ATTACH B
		       ON A.UUID = B.UUID
		 WHERE 1=1
		   AND B.BOARD_NO = #{boardNo}
		 ORDER BY B.ORD
	</select>
	
	<select id="selectAttach" resultType="AttachDTO">
		SELECT A.UUID		 AS uuid
			  ,A.UPLOAD_PATH AS uploadPath
			  ,A.FILE_NM     AS fileNm
			  ,A.FILE_TYPE   AS fileType
			  ,A.USE_YN      AS useYn
			  ,A.FILE_SIZE   AS fileSize
		  FROM ATTACH A
		 WHERE 1=1
		   AND A.UUID = #{uuid}
	</select>
	
	<insert id="insertAttach">
		INSERT INTO ATTACH
		VALUES(#{uuid}, #{uploadPath}, #{fileNm}, #{fileType}, 1, #{fileSize})
	</insert>

	<update id="updateAttach">
	</update>

	<delete id="deleteAttach">
	
	
	
	</delete>
</mapper> 