<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="utf-8">
<style type="text/css">
.container .content-div {
	min-height: 30vh;
}

.subTitle .col-6 {
	vertical-align: middle;
	margin: 0;
}

.subTitle .col-6:first-child {
	text-align: left;
}

.subTitle .col-6:last-child {
	text-align: right;
}

.btn-div {
	text-align: right;
}

div.reply-div #reply #reply-regist .row .col-1 {
	text-align: right;
}
</style>
</head>
<div layout:fragment="content">
	<div class="container content-container">
		<div class="head-div row">
			<div class="col-10">
				<h2 th:utext="|[${board?.boardClass}]${board?.title}|"></h2>
			</div>
			<div th:if="${board?.hasRole ne null}" class="btn-div col-2">
				<button id="modifyBtn" class="btn btn-secondary" th:onclick="|javascript:location.href='@{/board/modify}?boardNo=${board?.boardNo}&from=modify'|">수정</button>
				<button id="removeBtn" class="btn btn-secondary">삭제</button>
			</div>
		</div>
		<div class="form-div" id="board">
			<hr>
			<div class="subTitle row" th:if="${board != null}">
				<div class="form-group col-6" id="writer">작성자&nbsp;[[${board?.writer}]]</div>
				<div class="form-group col-6" id="viewCnt">조회수&nbsp;[[${board?.viewCnt}]]</div>
			</div>
			<div class="subTitle row" th:if="${board == null}"></div>
			<hr>
			<div class="form-group content-div" th:utext="${board?.content}"></div>
			<hr>
			<div class="reply-div">
				<label for="reply">댓글</label>
				<div id="reply">
					<div id="reply-regist">
						<textarea  wrap="hard" id="registReply" style="resize: none;" rows="3" cols="145" class="form-control"></textarea>
						<div class="row">
							<div class="col-11"></div>
							<div class="col-1">
								<button id="replyRegistBtn" class="btn btn-sm btn-secondary">등록</button>
							</div>
						</div>
					</div>
					<div id="replyList" th:if="${board.replyList != null}" th:each="reply : ${board?.replyList}">
						<div class="p-3 bg-white mt-2 rounded">
							<div class="d-flex justify-content-between">
								<div class="d-flex flex-row user">
									<img class="rounded-circle img-fluid img-responsive" src="https://i.imgur.com/Yxje2El.jpg" width="40">
									<div class="d-flex flex-column ml-2">
										<span class="font-weight-bold">[[${reply?.writer}]]</span>
										<span class="day">[[${reply?.registDate}]]</span>
										<span th:if="${${board?.hasRole ne null}}">
											<button>수정</button>
											<button>삭제</button>
										</span>
									</div>
									
									
								</div>
							</div>
							<div class="comment-text text-justify mt-2">
								<p th:utext="${reply?.content}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript" type="text/javascript">
	window.addEventListener('load',function(){
		let removeBtn = document.querySelector('#removeBtn');
		
		let data = {
					'boardNo' : /*<![CDATA[*//*[[${board?.boardNo}]]*//*]]*/
					};
		
		removeBtn.addEventListener('click', function(){
			if(confirm('해당 게시글을 정말 삭제하시겠습니끼?')){
				$.ajax({
					url : 'remove',
					data : JSON.stringify(data),
					method : 'DELETE',
					contentType : 'application/json; charset=utf-8'
				}).done(function(){
					location.href = "/std/board";
				});
			}
		});
		
		let registReplyBtn = document.querySelector('#replyRegistBtn');
		registReplyBtn.addEventListener('click', function(){
			registReply(/*<![CDATA[*//*[[${board?.boardNo}]]*//*]]*/ ,$('#registReply').val() ,'board/detail :: #replyList');
		})
	});
	
	function registReply(boardNo, content, target){
		let data = {'boardNo' : boardNo
					,'content' : content.replace(/\n/g, "<br>")
					,'target' : target
		};
		
		$.ajax({
			url : '/std/reply/regist',
			data : JSON.stringify(data),
			method : 'POST',
			contentType : 'application/json; charst=utf-8'
		}).done(function(fragment){
			$(target).replacewith(fragment);
		})
	}
	
	function printReply(boardNo, target){
		
	}
</script>
</div>
</html>