<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/summernote/summernote-lite.css}">
<style type="text/css">
.content-container>.head-div {
	margin: 20px 0;
}

.btn-div {
	text-align: right;
}

#modifyForm div.form-group:nth-child(2) div.form-control {
	overflow:scroll; 
	height:50vh;
}
</style>
</head>
<div layout:fragment="content">
	<div class="container content-container">
		<div class="head-div">
			<h2>글 수정</h2>
		</div>
		<hr>
		<div class="form-div">
			<form id="modifyForm" action="modify" method="put">
				<div class="row">
					<div class="form-group col-6">
						<label for="title">제목</label>
						<input name="title" type="text" class="form-control rounded-0" id="title" placeholder="제목을 입력하세요" autofocus="autofocus" th:value="${board?.title}">
					</div>
					<div class="col-3 form-group" id="boardDev">
						<label>구분</label>
						<select name="boardDev" class="form-control">
							<option th:if="${codeList != null}" th:each="code : ${codeList}" th:value="${code?.comnCd}" th:text="${code?.cdNm}" th:attr="selected=${board?.boardDev == code?.comnCd ? 'selected'}"></option>
						</select>
					</div>
					<div class="col-3" id="boardClass">
						<label>분류</label>
						<select name="boardClass" class="form-control">
							<option th:if="${codeList != null}" th:each="code : ${codeList}" th:value="${code?.comnCd}" th:text="${code?.cdNm}" th:attr="selected=${board?.boardClass == code?.comnCd ? 'selected'}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>내용</label>
						<div name="content" class="form-control editable" contenteditable="true" th:utext="${board?.content}"></div>
				</div>
			</form>
			<div class="file-div">
				<input type="file">
			</div>
		</div>
		<div class="btn-div">
			<button id="modifyBtn" class="btn btn-secondary">수정</button>
			<button class="btn btn-secondary" onclick="history.go(-1);">취소</button>
		</div>
	</div>
<script th:src="@{/js/board/common.js}"></script>
<script th:inline="javascript" type="text/javascript">
window.addEventListener('load', function(){
	printBoardSelect('board/regist :: #boardDev' , 'CD017');
	printBoardSelect('board/regist :: #boardClass' , 'CD020');
	
	let btn = document.getElementById("modifyBtn");
	
	btn.addEventListener('click', function(){
		let data = {
				'title': document.querySelector('input[name="title"]').value
				, 'content': document.querySelector('div[name="content"]').innerHTML
				, 'boardNo': /*<![CDATA[*//*[[${board?.boardNo}]]*//*]]*/
				, 'boardDev': $('select[name="boardDev"] option:selected').val()
				, 'boardClass': $('select[name="boardClass"] option:selected').val()
		};
		modifyBoard(data);
	});
});
</script>
</div>
</html>