@charset "UTF-8";
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  float: right;
  border: none;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

body .container>div {
	margin: 10px 0px;
}

.navbar {
	background: #e3f2fd;;
}

.navbar .navbar-nav .nav-item .nav-link {
	font-size: 1.5em;
	cursor: pointer;
}

.btn-div {
	text-align: right;
}

.btn-div .btn {
	display: inline-block;
	margin-right: 5px;
}

.container .row .form-group label {
	font-weight: bold;
}

.table-div {
	padding: 10px 0px;
}

.table-div table {
	width: 100%;
}

.table tr {
	text-align: center;
}

.table-div #codeList tr:hover {
	background: #e3f2fd;
	cursor: pointer;
	text-decoration: underline;
}

.table-div #codeList tr td {
	text-align: center;
}

.table-div #codeList tr td:nth-child(3), .table-div #codeList tr td:nth-child(6)
	{
	text-align: right;
}

#registForm .row .form-group, #registForm .row .form-group input {
	text-align: center;
}