<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/commonCode.css}">
</head>
<div layout:fragment="content">
	<div class="container commonCodeContainer">
		<div>
			<h2>코드관리</h2>
		</div>
		<hr>
		<div id="codeDiv">
			<div class="row">
				<div class="col-4 card">
					<div class="card-body">
						<div id="tree"></div>
					</div>
				</div>
				<div class="col-8 card">
					<div class="card-body">
						<form id="registForm" onsubmit="return false">
							<div class="row row-no-gutters detailCode">
								<div class="form-group col">
									<label for="inputsm">CD</label>
									<input disabled="disabled" class="form-control input-sm" type="text" id="comnCd" name="comnCd" th:value="${code?.comnCd}">
								</div>
								<div class="form-group col">
									<label for="inputsm">UP_CD</label>
									<input disabled="disabled" class="form-control input-sm" type="text" name="upCd" th:value="${code?.upCd}">
								</div>
								<div class="form-group col">
									<label for="inputsm">LVL</label>
									<input disabled="disabled" class="form-control input-sm" type="text" name="lvl" th:value="${code?.lvl}">
								</div>
							</div>
							<div class="row row-no-gutters  detailCode">
								<div class="form-group col">
									<label for="inputsm">VAL</label>
									<input class="form-control input-sm" type="text" name="val" th:value="${code?.val}">
								</div>
								<div class="form-group col">
									<label for="inputsm">NAME</label>
									<input class="form-control input-sm" type="text" name="cdNm" th:value="${code?.cdNm}">
								</div>
							</div>
							<div class="row row-no-gutters  detailCode">
								<div class="form-group col">
									<label for="inputsm">ORD</label>
									<input class="form-control input-sm" type="text" name="ord" th:value="${code?.ord}">
								</div>
								<div class="form-group col">
									<label for="inputsm">DESC</label>
									<input class="form-control input-sm" type="text" name="description" th:value="${code?.description}">
								</div>
							</div>
						</form>
						<div style="margin-bottom: 30px;" class="btn-div">
							<input type="button" onclick="abledRegist()" class="btn btn-secondary" disabled="disabled" value="하위코드추가" />
							<input type="button" onclick="modifyCode()" class="btn btn-secondary" disabled="disabled" value="수정" />
							<input type="button" onclick="removeCode()" class="btn btn-secondary" disabled="disabled" value="삭제" />
							<input type="button" onclick="registCode()" class="btn btn-secondary" disabled="disabled" value="등록" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/commonCode.js}"></script>
</div>
</html>