<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- [head] 영역 시작 -->
<head>
<meta charset="utf-8">
<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<!-- [head] 영역 끝 -->
<!-- [body] 영역 시작 -->
<body>
	<!-- [header] 영역 시작 -->
	<header th:replace="fragments/header :: headerFragment"></header>
	<!-- [header] 영역 끝 -->
	<!-- [content] 영역 시작 -->
	<div layout:fragment="content"></div >
	<!-- [content] 영역 끝 -->
	<!-- [footer] 영역 시작 -->
	<footer th:replace="fragments/footer :: footerFragment"></footer>
	<!-- [footer] 영역 끝 -->
</body>
<!-- [body] 영역 끝 -->
<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</html>

