<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
	<!-- Topbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
		<div class="container">
			<a href="#" class="navbar-brand font-weight-bold">OJT</a>
			<button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarContent" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto" id="oneDepth">
				</ul>
			</div>
		</div>
	</nav>
	<!-- End of Topbar -->
</div>
</html>