<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.letech.study.repository.AccountRepository">
	<select id="readAccount" resultType="Account">
		SELECT USER_NO
			  ,ID
			  ,PASSWORD
			  ,USER_NM
			  ,ATVT_YN 
		  FROM USERS 
		 WHERE ID = #{id}
	</select>
	
	<select id="readAutorities" resultType="String">
		SELECT A.AUTH_CD
		  FROM USER_AUTH A
		  	   JOIN USERS B
		  	   ON A.USER_NO = B.USER_NO
		 WHERE B.ID = #{id}
	</select>
	
</mapper>