<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.letech.study.repository.AttachRepository">
	<select id="selectAttachList" resultType="java.util.LinkedHashMap">
		SELECT UUID		   AS uuid
			  ,UPLOAD_PATH AS uploadPath
			  ,FILE_NM     AS fileNm
			  ,FILE_TYPE   AS fileType
			  ,USE_YN      AS useYn
		  FROM ATTACH
		 WHERE 1=1
		   AND BOARD_NO = #{boardNo}
		 ORDER BY ORD
	</select>
	
	<select id="selectAttach" resultType="Map">
	</select>
	
	<insert id="insertAttach">
	</insert>

	<update id="updateAttach">
	</update>

	<delete id="deleteAttach">
	
	
	
	</delete>
</mapper> 